/bin/*
/odocweb/*
/jsmin/*
openaf.jar
openaf.jar.orig
buildSHA.json
dependencies.json
.odoc.db
.opack.db
/tests/autoTestAll.test
/tests/autoTestAll.xlsx
/tests/autoTestAll.xml
/tests/autoTestAll.md
/oJob-common/*
/oJob-commons/*
/jslib/*
/lib/compiledJS.jar
/dist
/docs/odoc
/target/*
maven-*
.github/*
